body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  width: 500px;
}

h1 {
  color: #3498db;
  font-size: 46px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 20px;
}

.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: #2980b9;
}

.video {
  width: 100%;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.invalid {
  background-color: #e5e2e2; /* Puedes ajustar el color gris según tus preferencias */
}